body {
  font-size: 14px;
}
span {
  font-size: 14px;
}

/* topbar*/
.border-bottom{
    background-color: white;
    z-index: -9999;
  }
  
  .top-bar {
    width: 100%;
  }
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #fa1 {
    margin-right: 120px;
    position: absolute;
    top: 30px;
    right: 70px;
  }
  #fa2 {
    margin-right: 70px;
    position: absolute;
    top: 30px;
    right: 70px;
  }
  #fa3 {
    margin-right: 10px;
    position: absolute;
    top: 30px;
    right: 70px;
  }


.overlay {
  background: rgb(0 0 0 / 55%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1030;
}
.search-section {
  padding: 50px 0;
}
.filter-header {
  font-weight: bold;
  font-size: 30px;
}
.filter-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 14px;
  margin-bottom: 15px;
}
.title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.row-grid h6 {
  margin-bottom: 20px;
  text-align: center;
}
.row-grid img {
  margin-bottom: 20px;
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .filters-actions {
    position: fixed;
    background: #fff;
    display: flex;
    justify-content: center;
    border: 0;
    bottom: 0;
    z-index: 1031;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px -2px 3px rgb(0 0 0 / 21%);
    -webkit-box-shadow: 0px -2px 3px rgb(0 0 0 / 21%);
    -moz-box-shadow: 0px -2px 3px rgb(0 0 0 / 21%);
    height: 50px;
  }
  .filters-actions > div {
    flex: 1;
    text-align: center;
  }
  .filters-actions > div:first-of-type {
    border-right: 1px solid #d6d1ce;
  }
  .filters-actions > div > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  /*.no-border-select.sort-select + .select2-container--default .select2-selection--single{
      background-image: none;
      padding:10px;
    }*/
  .filter-btn,
  .filter-btn:hover,
  .filter-btn:focus,
  .filter-btn:active {
    padding: 14px 20px;
    height: 50px;
    border: 0;
    position: relative;
    z-index: 1;
    background: #fff;
    border-radius: 0;
  }
  .sort-drop .dropdown-menu {
    width: 100%;
    left: 0;
    position: fixed !important;
    transform: translateY(100%) !important;
    bottom: 50px !important;
    top: auto !important;
    text-align: center;
    border-radius: 6px 6px 0 0 !important;
    box-shadow: none !important;
    transition: 0.3s;
    display: block;
    /* border: 0;*/
    z-index: -11;
  }
  .sort-drop .dropdown-menu .dropdown-item {
    padding: 15px 20px !important;
  }
  .sort-drop .dropdown-menu .dropdown-item:first-child {
    border-radius: 6px 6px 0 0 !important;
  }
  .sort-drop.show .dropdown-menu {
    transform: translateY(0) !important;
  }
  .btn.sort-toggle {
    background-image: none;
    padding: 10px !important;
    width: 100%;
    border: 0;
    height: 50px;
    position: relative;
    z-index: 1;
    background: #fff;
    border-radius: 0;
    font-size: 16px;
    line-height: 22px;
  }
  .sidebar {
    position: fixed;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background: #fff;
  }
  .sidebar.open {
    z-index: 1032;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .sidebar__inner {
    padding: 15px;
    height: calc(100% - 58px);
    overflow-y: auto;
  }
  .filter-header {
    height: 58px;
  }
  .filter-body {
    padding-right: 0;
  }
}


/*--search bar--*/

.boxcontainer {
    margin: auto;
    margin-top: 10%;
    position: relative;
    width: 500px;
    height: 42px;
    border: 2px solid #d1b3c4;
    padding: 0px 10px;
    border-radius: 50px;
  }
  .elementscontainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-family: "nunito";
    color: #000;
    font-weight: 500;
  }
  .search:focus {
    outline: none;
  }
  #search-btn {
    background: none;
    border: none;
    color: none;
    padding: none;
  }
  .fa-solid {
    font-size: 26;
  }




/* info section aziz */
.info_section .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}

.info_section .info_logo .navbar-brand {
  margin: 0;
  padding: 0;
}

.info_section .info_logo .navbar-brand span {
  color: #ffffff;
  font-size: 50px;
}

.info_section {
  background-color: #815959d2;
  color: #ffffff;
  padding: 75px 0 60px 0;
}

.navbar-brand span {
  font-weight: bold;
  color: rgb(163, 102, 112);
  font-size: 24px;
  text-transform: uppercase;
}

hr.style-five {
  border: 1;
  height: 0; /* Firefox... */
  box-shadow: 0 0 10px 1px #d1b3c4(167, 61, 61);
}
hr.style-five:after {
  /* Not really supposed to work, but does */
  content: "\00a0"; /* Prevent margin collapse */
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}