* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
  }
  /* navbar */
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#subNavContainer{
    list-style-type: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
/* carousel */

#carouselExampleFade img{
object-fit: cover;
height: 500px;
}


.quot h1{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
color: #D1B3C4;
}
.quot p{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

/* wrapper */

.wrapper {
	width: 100%;
	overflow: hidden;
}
.photobanner {
	position: relative;
	height: 233px;
	margin-bottom: 30px;
    margin-top: 30px;
	display: flex;
	width: 100%;
}

.photobanner img {
  margin: 0px 25px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.photobanner {
  animation: bannermove 50s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -1000px;
  }
}