* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



/* topbar*/
.border-bottom{
  background-color: white;
  z-index: -9999;
}

.top-bar {
  width: 100%;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#fa1 {
  margin-right: 120px;
  position: absolute;
  top: 30px;
  right: 70px;
}
#fa2 {
  margin-right: 70px;
  position: absolute;
  top: 30px;
  right: 70px;
}
#fa3 {
  margin-right: 10px;
  position: absolute;
  top: 30px;
  right: 70px;
}
/* navbar */


/* carousel */

#carouselExampleFade img {
  width: 100%;
  margin: auto;
  min-height: 500px;
  max-height: 500px;
  object-fit: cover;
}
.carousel-inner .item {
  width: 100%;
}


.quot h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #d1b3c4;
}
.quot p {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  font-weight: 200;
  line-height: 25px;
}

/* wrapper */

.wrapper {
  width: 100%;
  overflow: hidden;
}
.photobanner {
  position: relative;
  height: 350px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.photobanner img {
  margin: 0px 25px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.photobanner {
  animation: bannermove 50s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -1600px;
  }
}

.bride {
  margin-top: 100px;
  margin-bottom: 50px;
}
.left {
  position: relative;
  padding-left: 30px;
  width: 50%;
  float: left;
  margin-top: 100px;
}
.left h2 {
  text-align: center;
  font-style: italic;
  font-weight: 400;
}
.left p {
  margin-top: 50px;
  text-align: center;
  font-weight: 200;
  line-height: 30px;
}

.right {
  margin-bottom: 100px;
  padding-right: 60px;
  width: 50%;
  float: right;
}
.right img {
  width: 400px;
  float: right;
}

.bn3 {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  margin-left: 45%;
  margin-top: 30px;
  margin-bottom: 100px;
  border: 0.16em solid #e8c2ca;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}

.bn3:hover {
  color: black;
  background-color: #e8c2ca;
}

.groom {
  margin-top: 100px;
  width: 100%;
}
.g-left {
  float: left;
  width: 50%;
  margin-bottom: 100px;
  padding-left: 60px;
}
.g-left img {
  margin-top: 100px;
  width: 400px;
  float: left;
}
.g-right {
  position: relative;
  padding-right: 30px;
  width: 50%;
  float: right;
  margin-top: 200px;
  margin-bottom: 100px;
}

.g-right h2 {
  text-align: center;
  font-style: italic;
  font-weight: 400;
}
.g-right p {
  margin-top: 50px;
  text-align: center;
  font-weight: 200;
  line-height: 30px;
}

/*contact*/

.contact-section {
  padding-top: 10px;
  width: 70%;
  margin: 50px auto;
}
.contact-section h2 {
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: 600;
  color: #d1b3c4;
  text-align: center;
}
.contact-box {
  background: #fff;
  display: flex;
  box-shadow: 10px 10px 10px 10px #d1b3c4;
  border-radius: 6px;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: #e8c2ca;
  color: #fff;
}
.input-row {
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 20px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
}
label {
  margin-bottom: 6px;
  display: block;
  color: #d1b3c4;
}
.contact-section button {
  background: #d1b3c4;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px #d1b3c4;
}
.contact-left h3 {
  color: #d1b3c4;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right tr td:first-child {
  padding-right: 20px;
}
.contact-right tr td {
  padding-top: 40px;
}

/* product aziz css */
.info_section .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}

.info_section .info_logo .navbar-brand {
  margin: 0;
  padding: 0;
}

.info_section .info_logo .navbar-brand span {
  color: #ffffff;
  font-size: 50px;
}
.product_section .box {
  margin-top: 30px;
  text-align: center;
  background-color: #ffffff;
  padding: 25px;
  background-color: #ffffff8c;
  border-style: solid;
  border-color: rgb(153, 122, 122);
  border: 100cm;
}

.product_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 420px;
  border-radius: 5px;
}

.product_section .box .img-box img {
  max-width: 400px;
  max-height: 400px;
  cursor: pointer;
}

.product_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.product_section .box .detail-box .rating {
  width: 100%;
  border-bottom: 1px solid #363535;
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: #f89646;
}

.product_section .box .detail-box a {
  font-size: 18px;
  color: #d1b3c4;
}

.product_section .box .detail-box .price_heading {
  margin-top: 10px;
  margin-bottom: 0;
}

.product_section .box .detail-box .price_heading span {
  color: #000000;
}

.product_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

/* info section */
.info_section {
  background-color: #815959d2;
  color: #ffffff;
  padding: 75px 0 60px 0;
}

.navbar-brand span {
  font-weight: bold;
  color: rgb(163, 102, 112);
  font-size: 24px;
  text-transform: uppercase;
}

hr.style-five {
  border: 1;
  height: 0; /* Firefox... */
  box-shadow: 0 0 10px 1px #d1b3c4(167, 61, 61);
}
hr.style-five:after {
  /* Not really supposed to work, but does */
  content: "\00a0"; /* Prevent margin collapse */
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* our team */
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
  align-items: center;
}
.column {
  width: 100%;
  padding: 0.5em 0;
}
.row h1 {
  text-align: center;
  font-size: 3.5em;
  color: #d1b3c4;
}
.card {
  box-shadow: 0 0 2.4em #d1b3c4(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #d1b3c4;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #e8c2ca;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background: linear-gradient(#d1b3c4, #e8c2ca);
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

/*--search bar--*/

.boxcontainer {
  margin: auto;
  margin-top: 10%;
  position: relative;
  width: 500px;
  height: 42px;
  border: 2px solid #d1b3c4;
  padding: 0px 10px;
  border-radius: 50px;
}
.elementscontainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-family: "nunito";
  color: #000;
  font-weight: 500;
}
.search:focus {
  outline: none;
}
#search-btn {
  background: none;
  border: none;
  color: none;
  padding: none;
}
.fa-solid {
  font-size: 26;
}
